:root {
    --dark-gray: #333333;
    --medium-gray: #777777;
    --gray: #CCCCCC;
    --very-light-gray: #EEEEEE;
    --black: #000000;
    --white: #FFFFFF;
    --blue: #1E4E76;
    --dark-blue: #174469;
    --very-dark-blue: #021728;
    --light-blue: #D1EBFF;
}
