.form-field {
  @at-root #{&}__label {
    display: block;
    font-size: var(--text-lg);
    font-weight: bold;
  }

  @at-root #{&}__input {
    padding: var(--space-xs);
    border: 1px solid var(--gray);
    width: 100%;

    @at-root #{&}--editable {
      height: 5em;
    }
  }

  @at-root #{&}--hidden {
    display: none;
    margin: 0;
  }
}
