@import '@/_colors.scss';
@import '@/_typography.scss';

.link {
  color: var(--link);
  transition: color ease-in-out 0.1s;

  @at-root #{&}--clean {
    text-decoration: none;
    color: var(--text-color);
  }

  &:hover {
    color: var(--link-hover);
    transform: scale(1.2);
  }
}
