@import '@/_colors.scss';
@import '@/_typography.scss';

a {
  --link-color: var(--blue);
  --link-hover-color: var(--black);

  color: var(--link-color);
  transition: color ease-in-out 0.1s;

  &.clean {
    text-decoration: none;
    color: var(--text-color);
  }

  &:hover {
    color: var(--link-hover-color);
    transform: scale(1.2);
  }
}
