@import 'spacing';
@import 'colors';

:root {
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: 'Times New Roman', serif;
    --font-title: 'Fredericka the Great', serif;
    --font-title-weight: normal;

    --heading-line-height: 1.2;
    --body-line-height: 1.5;

    --text-color: var(--dark-gray);

    --text-base-size: 0.9em;
    --text-scale-ratio: 1.618;

    --text-xs: calc(var(--text-sm) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-md) / var(--text-scale-ratio));
    --text-md: var(--text-base-size);
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));

    @media (max-width: 1200px) {
        --text-base-size: 0.85em;
    }

    @media (max-width: 480px) {
        --text-base-size: 0.8em;
    }
}

p {
    line-height: var(--body-line-height);
    word-break: break-word;
    hyphens: auto;
    max-width: 65ch;
    font-size: var(--text-lg);

    + p {
        text-indent: var(--space-lg);
        margin-top: var(--space-md);
    }
}

@for $heading-level from 1 through 6 {
    h#{$heading-level} {
        line-height: var(--heading-line-height);
        margin-bottom: var(--space-xxs);
    }
}

h1 {
    font-family: var(--font-title);
    font-weight: var(--font-title-weight);
    font-size: var(--text-xxxl);
}

h2 {
    font-size: var(--text-xxl);
}

h3 {
    font-size: var(--text-xl);
}

h4 {
    font-size: var(--text-lg);
}
