@import '~prismjs/themes/prism-tomorrow';
@import 'colors';
@import 'theme';
@import 'spacing';
@import 'typography';
@import 'links';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* + * {
    margin-top: var(--space-md);
}

body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--text);
    background: var(--background);
    margin-top: 0;
}

main {
    grid-area: main;
    margin-top: 0;
    padding: var(--space-lg);

    @media (min-width: 700px) {
      padding: var(--space-xl);
    }
}

html,
body {
  @media (min-width: 700px) {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 700px) {
  html {
    overflow: auto;
  }
}

#app {
    margin-top: 0;
    display: grid;
    grid-template-areas:
        "nav"
        "main";
    grid-template-columns: 100vw;

    @media (min-width: 700px) {
        grid-template-columns: max-content minmax(0, auto);
        grid-template-areas:
            "nav main";
    }
}

nav {
    grid-area: nav;
}

article {
  ul {
    font-size: var(--text-lg);
    max-width: 65ch;
  }
}

.impact-heading {
  @include title-font;
  font-size: var(--text-xl);
}

.fade-enter-active {
  transition-property: opacity;
  transition-duration: 0.5s;
}

.fade-leave-to,
.fade-enter {
  opacity: 0;
}

code {
  padding: 0.125em .5em;
  background: var(--very-light-gray);

  @media (prefers-color-scheme: dark) {
    background: var(--black);
  }
}

pre {
  background: var(--very-light-gray);
  font-size: var(--text-lg);
  padding: var(--space-md);

  code {
    padding: 0;
    background: none;
  }
}

.nav-social-links__link {
  display: inline-block;
  margin: 0;
  margin-left: calc(-1 * var(--space-sm));
}
